<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheets" type="text/css" href="jquery.terminal.css" />
  </head>
  <body>
    <div id="git_party"></div>
    <script>

      jQuery(function($, undefined) {
        $('#git_party').terminal(function(command, term) {
          var commandArray = (command.split(" "));
          var owner = commandArray[1].split("/")[0];
          var repo = commandArray[1].split("/")[1];
          var sendToserver = function(commandArray){
            $.ajax({
              dataType: "json",
              url: "/commandArray[1]",
              data: {
                name: owner,
                repo: repo
              },
              success: function(result){
                console.log(result);
              }
            });
          };
          if (command !== '') {
            try {
                if (commandArray[0] == "get") {
                    sendToserver(commandArray);
                }
            } catch(e) {
                term.error(new String(e));
            }
          } else {
            term.echo('');
          }
        }, {
          greetings: 'Created by Junejung, MattNguyen, DomKM, Asada',
          name: 'git_party',
          height: 300,
          prompt: '>>'
        });
      });
    </script>
  </body>
</html>
