.container
  %header
    %section.logo
      .span3
        %a{:href => "#{root_path}"}
          .title_git git
          .title_party party

    %section.info
      .offset3.span9
        %span
          %h2 Find a project.
        %span.middle_text
          %h2 See the todos.
        %span
          %h2 Get involved.
